:root {
  /* ## Colors */ /* ### Primary */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* ## Typography */ /* ### Headings */
  --font-heading: "Poppins", sans-serif;

  /* ## Typography */ /* ### Body */
  --font-body: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--violet);
  font-family: var(--font-body);
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    max-width: 1200px;
    max-height: 100vh;
    overflow: hidden;
  }
}

.header {
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 1rem 1rem;
  }
}

.header__logo {
  width: 50%;
}

@media (min-width: 768px) {
  .header__logo {
    width: 20%;
  }
}

main {
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    padding: 2rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .banner {
    padding: 1rem;
  }

  .info {
    padding: 1rem 1rem 1rem 3rem;
    text-align: left;
  }
}

.main-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.main-text {
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.btn {
  display: block;
  background-color: #fff;
  color: var(--violet);
  padding: 1rem 0;
  margin-top: 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  font-family: var(--font-heading);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .btn {
    width: 50%;
    text-align: center;
    font-size: 1rem;
  }

  .btn:hover {
    background-color: var(--soft-magenta);
    color: #fff;
  }
}

.social {
  position: relative;
  grid-column: 2 / 3;
  margin-top: 2rem;
}

.social__items {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .social__items {
    justify-content: flex-end;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .social {
    bottom: -4rem
  }
}

.social__icon {
  width: 25px;
  height: 25px;
  border: thin solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (min-width: 768px) {
  .social__icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .social__icon:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
  }
}
