:root {
  /* ## Colors */ /* ### Primary */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* ## Typography */ /* ### Headings */
  --font-heading: "Poppins", sans-serif;

  /* ## Typography */ /* ### Body */
  --font-body: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--violet);
  font-family: var(--font-body);
}

.header {
  padding: 1.5rem;
}

.header__logo {
  width: 50%;
}

main {
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

.main-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.main-text {
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn {
  display: block;
  background-color: #fff;
  color: var(--violet);
  padding: 1rem 0;
  margin-top: 1.5rem 2rem 0;
  border-radius: 2rem;
  font-weight: 600;
  font-family: var(--font-heading);
  font-size: 0.9rem;
  box-shadow: 0 5px 0 5px rbga(0, 0, 0, .3);
}

.social {
  margin-top: 4rem;
}

.social__items {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.social__icon {
  width: 25px;
  height: 25px;
  border: thin solid #FFF;
  border-radius: 50%;
  line-height: 25px;
  color: #FFF;
}